<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="https://codecool.pl/" target="_blank">about</a></li>
            <li><a href="">contact</a></li>
            <li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>

<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/student1.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/student">profile</a></li>
                <li><a href="/student/wallet">wallet</a></li>
                <li><a href="/student/store">store</a></li>
                <li><a href="/student/team_purchases">team purchases</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>
<section class="users-table">
    <h3>Team purchase requests</h3>
    <h5>Your balance: {{ student.getWallet().getBalance() }}</h5>
    {% if errmsg.length > 0 %}
    <div class="fail">
        <h5>{{ errmsg }}!</h5>
    </div>
    {% endif %}
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for purchase in student.getWallet().getPendingPurchases() %}
        <tr>
            <td>{{ purchase.getArtifact().getName() }}</td>
            <td>{{ purchase.getStudent().getName() }}</td>
            <td>{{ purchase.getPrice() }}</td>
            <td>{{ purchase.isMarked() }}</td>
            {% if student.getLogin().getValue().equals(purchase.getStudent().getLogin().getValue() %}
            <td><a method="POST" class="btn" id="edit-btn" href="/student/team_purchases/accept/{{ purchase.getId() }}">Accept</a></td>
            <td><a method="POST" class="btn" id="remove-btn" href="/student/team_purchases/cancel/{{ purchase.getId() }}">Cancel</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</section>
</body>
