<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="https://codecool.pl/" target="_blank">about</a></li>
            <li><a href="">contact</a></li>
            <li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>

<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/admin.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/admin">profile</a></li>
                <li><a href="/admin/mentors/list">mentors</a></li>
                <li><a href="/admin/mentors/add">add mentor</a></li>
                <li><a href="/admin/groups/list">groups</a></li>
                <li><a href="/admin/groups/add">add group</a></li>
                <li><a href="/admin/cities/list">cities</a></li>
                <li><a href="/admin/cities/add">add city</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>
<section class="users-table">

    {% if groups is defined %}
        <h3>Groups</h3>
        <table class="mentors-table" style="width:100%">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {%  for group in groups %}
                <tr>
                    <td>1.</td>
                    <td>{{ group.getName }}</td>
                    <td><a class="btn" id="edit-btn" href="/admin/groups/list/edit/{{ group.getID }}">Edit</a></td>
                    <td><a class="btn" id="edit-btn" href="/admin/groups/list/remove/{{ group.getID }}">Remove</a></td>
                </tr>
            {%  endfor %}
        </table>
    {%  endif %}

    {% if cities is defined %}
        <h3>Cities</h3>
        <table class="mentors-table" style="width:100%">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Short name</th>
            </tr>
            {%  for city in cities %}
                <tr>
                    <td>{{ city.getID }}.</td>
                    <td>{{ city.getName }}</td>
                    <td>{{ city.getShortName }}</td>
                    <td><a class="btn" id="edit-btn" href="/admin/cities/list/edit/{{ city.getID }}{{ mentor.getLogin.getValue }}">Edit</a></td>
                    <td><a class="btn" id="edit-btn" href="/admin/cities/list/remove/{{  city.getID }}{{ mentor.getLogin.getValue }}">Remove</a></td>
                </tr>
            {%  endfor %}
        </table>
    {% endif %}

    {% if mentors is defined %}
    <h3>Mentors</h3>    <table class="mentors-table" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Class</th>
            <th>E-mail</th>
        </tr>
        {%  for mentor in mentors %}
            <tr>
                <td>1.</td>
                <td>{{ mentor.getName }}</td>
                <td>{{ mentor.getSurname }}</td>
                <td>{{ mentor.getGroup.getName }}</td>
                <td>{{ mentor.getEmail.getValue }}</td>
                <td><a class="btn" id="edit-btn" href="/admin/mentors/list/edit/{{ mentor.getLogin.getValue }}">Edit</a></td>
                <td><a class="btn" id="edit-btn" href="/admin/mentors/list/remove/{{ mentor.getLogin.getValue }}">Remove</a></td>
            </tr>
        {%  endfor %}
    </table>
    {% endif %}
    {% if levels is defined %}
    <h3>Levels</h3>    <table class="mentors-table" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {%  for level in levels %}
            <tr>
                <td>1.</td>
                <td>{{ level.getName }}</td>
                <td>{{ level.getScore }}</td>
                <td><a class="btn" id="edit-btn" href="/admin/levels/edit/{{ level.getName() }}">Edit</a></td>
                <td><a class="btn" id="edit-btn" href="/admin/levels/remove/{{ level.getName() }}">Remove</a></td>
            </tr>
        {%  endfor %}
        {% endif %}
    </table>
</section>
</body>
</html>