<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>questore</title>
  <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

  <header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
      <ul>
        <li><a href="">about</a></li><!--
     --><li><a href="">contact</a></li><!--
     --><li><a class="logout-btn" href="">logout</a></li>
      </ul>
    </nav>
  </header>

  <section class="menu-bar">
    <div class="frame">
      <img src="/static/assets/pics/profiles/{{ login }}.jpg">
      <nav>
        <ul class="menu-nav">
          <li><a href="/mentor">profile</a></li>
          <li><a href="/mentor/groups">groups</a></li>
          <li><a href="/mentor/quest/show">quests</a></li>
          <li><a href="/mentor/artifact/show">artifacts</a></li>
          <li><a href="/mentor/groupartifact/show">group artifacts</a></li>
        </ul>
      </nav>
    </div>
    <footer>
      <small>&copy; pyLamas</small>
    </footer>
  </section>

  <form id="2" class="add" method="POST">
      {% if student != null %}
        <h3>Edit student {{ student.getName }}</h3>
      {% else %}
        <h3>Add new student</h3>
      {% endif %}
      {% if name.length > 0 %}
        <div class="fail">
          <h5>This email was already used!</h5>
        </div>
      {% endif %}

    <table class="input-table">
      <tr>
        <th>Name:</th>
        <th>
          <input type="text" name="name"
                 value="{{ student.getName }}{{ name }}"
                 title="Name should be between 3 and 17 letters long"
                 pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,17}"
                 required="required">
        </th>
      </tr>
      <tr>
        <th>Surname:</th>
        <th>
          <input type="text" name="surname"
                 value="{{ student.getSurname }}{{ surname }}"
                 title="Name should be between 3 and 17 letters long"
                 pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,17}"
                 required="required">
        </th>
      </tr>
      <tr>
        <th>Email:</th>
        <th>
          <input type="email" name="email"
                 value="{{ student.getEmail().getValue() }}"
                 required="required">
        </th>
      </tr>
      <tr>
        <th>Class:</th>
        <th>
          <select name="group">
              {% for group in groups %}
                <option value="{{ group.getID }}">{{ group.getName }}</option>
              {% endfor %}
          </select>
        </th>
      </tr>
    </table>
    <button class="submit" type="submit" form="2">submit</button>
  </form>

</body>
</html>
