<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="">about</a></li><!--
     --><li><a href="">contact</a></li><!--
     --><li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>
<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/student.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/mentor">profile</a></li>
                <li><a href="/mentor/groups">groups</a></li>
                <li><a href="/mentor/quest/show">quests</a></li>
                <li><a href="/mentor/artifact/show">artifacts</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>
<form method="POST" class="add">
    {% if quest != null %}
        <h3>Edit quest {{ quest.getName }}</h3>
    {% else %}
        <h3>Add new quest</h3>
    {% endif %}

    {% if questName.length > 0 %}
        <div class="fail">
            <h5>Quest with this name already exist!</h5>
        </div>
    {% endif %}

    <table class="input-table">
        <tr>
            <th>Quest Name:</th>
            <th>
                <input type="text" name="questName"
                       title="Name should be between 3 and 17 letters long"
                       value="{{ quest.getName }}{{ questName }}"
                       pattern="[A-Za-z żźćńółęąśŻŹĆĄŚĘŁÓŃ]{3,17}"
                       required="required">
            </th>
        </tr>
        <tr>
            <th>Description:</th>
            <th>
                <input type="text" name="description"
                       title="Description should be at last 3 letters long"
                       value="{{ quest.getDescription }}{{ description }}"
                       pattern="[A-Za-z żźćńółęąśŻŹĆĄŚĘŁÓŃ0-9]{3,150}"
                       required="required">
            </th>
        </tr>
        <tr>
            <th>Reward:</th>
            <th>
                <input type="text" name="reward"
                       value="{{ quest.getReward }}{{ reward }}"
                       title="Only numbers, and don't be to harsh 1000000 is to much"
                       pattern="[1-9][0-9]{1,5}"
                       required="required">
            </th>
        </tr>
    </table>

    <button class="submit" type="submit">submit</button>
</form>

</body>
</html>